<h1>Add a new Player</h1>
<div class="form-group">
  <form action="/view-all-player" method="post">
    <div class="form-group">
      <label for="player">Player Name:</label>
      <input type="text" name="player" id="player">
    </div>
    <button type="submit">Enter</button>
  </form>
</div>
